<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" src={{storeDet.featured_image}}>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{storeDet.name}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{storeDet.address}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{storeDet.description}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{storeDet.open_date}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{storeDet.phone}}
                </div>
            </div>
        </div>
    </div>
</div>