body {
    background-image: url("../asserts/sfondorepeat.jpg");
}

.fa {
    font-size: 150px;
    font-size: 10vw;
}

.storespinner {
    text-align: center;
}
.storelist {
    background-color: #FFFEEF;

}
hr {
    background-color: #DAA520;
    border-top: 1px solid #DAA520;
}

a, a:hover, a:focus {
    color: #DAA520;
}

.logo {
    opacity: 1;
    display: block;
    text-indent: -9999px;
    width: 102px;
    height: 102px;
    background-image: url(../asserts/logo-jesse-cerchio.svg);
    background-size: 102px 102px;
}
.brand {
    color: #FFFEEF !important;
    font-size: 40px;
    font-weight: bold;
}

.vertically-align {
    align-items: center;
}

.login {
    text-align: center;
}

.jumbotron {
    font-size: 21px;
    opacity: 0.95;

    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s; /* Firefox < 16 */
    -ms-animation: fadein 1.5s; /* Internet Explorer */
    -o-animation: fadein 1.5s; /* Opera < 12.1 */
    animation: fadein 1.5s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.95; }
}
.navbar, .navbar.navbar-default {
    background-color: #000000;
    color: #DAA520;
    font-style: inherit;
}
.logoutFix {
    cursor: hand;
}
.info {
    cursor: pointer;
}
#map {
    width: 100%;
    height: 800px;
}
#logghi {
    padding-right: 50px;
}
.noOpacity {
    opacity: 1 !important;
}
.fakeicon {
    width: 100%;
    height: 100%;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
    background: rgba(182, 0, 0, 1);
    color: #fff;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
    color: #fff;
}
h3 {
    font-weight: bold;
}
li {
    font-weight: bold;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: black;
    margin-top: 7px;
    margin-bottom: -60px;
    margin-left: -15px;
    margin-right: 21px;
    padding-left: 40%;
    padding-right: 40%;
}













.form-group.is-focused .form-control .material-input:after {
    background-color: #DAA520;
}
.form-group.is-focused label,
.form-group.is-focused label.control-label {
    color: #DAA520;
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #DAA520;
}

.form-group.is-focused .form-control {

}

.form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DAA520), to(#DAA520)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#DAA520, #DAA520), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#DAA520, #DAA520), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#DAA520, #DAA520), linear-gradient(#D2D2D2, #D2D2D2);
}
.form-group.is-focused .form-control {
    outline: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DAA520), to(#DAA520)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#DAA520, #DAA520), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#DAA520, #DAA520), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#DAA520, #DAA520), linear-gradient(#D2D2D2, #D2D2D2);
}
.form-group.is-focused .form-control .material-input:after {
    background-color: #DAA520;
}
.input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #DAA520;
}
.btn.btn-raised.btn-primary,
.input-group-btn .btn.btn-raised.btn-primary,
.btn.btn-fab.btn-primary,
.input-group-btn .btn.btn-fab.btn-primary,
.btn-group-raised .btn.btn-primary,
.btn-group-raised .input-group-btn .btn.btn-primary {
    background-color: black;
    color: white;
}
.btn.btn-raised:not(.btn-link):hover.btn-primary,
.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-primary,
.btn-group-raised .btn:not(.btn-link):hover.btn-primary,
.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-primary,
.btn.btn-raised:not(.btn-link):focus.btn-primary,
.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-primary,
.btn-group-raised .btn:not(.btn-link):focus.btn-primary,
.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-primary,
.btn.btn-raised:not(.btn-link).active.btn-primary,
.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-primary,
.btn-group-raised .btn:not(.btn-link).active.btn-primary,
.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-primary,
.btn.btn-raised:not(.btn-link):active.btn-primary,
.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-primary,
.btn-group-raised .btn:not(.btn-link):active.btn-primary,
.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-primary {
    background-color: grey;
}